# This ignore file only cover the folder eve.

# ignore node modules
node_modules/

# ignore package-lock.json
package-lock.json

# ignore idea
.idea/

# ignore dist
dist/

# ignore docker
docker/*.js
docker/*.html

# ignore npm debug
npm*.log.*